<template>
  <div>
    Flours
    <div id="go-back" @click="goBack">&larr;</div>
    <input type="text" v-on:keyup.enter="addFlour" v-model="textInput">
    <div id="flours">
      <div v-for="(flour,ind) in flours" :key=flour.id class="flour">
        <div class="name">{{flour.name}}</div>
        <div @click="removeFlour(ind)" class="remove-flour"> &#10006; </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:"Flours",
    data: function(){
      const homedir = require("os").homedir();
      window.console.log(homedir);
      const flours_path = homedir + "/desktop/all_recipes/flours.json"; 
      const fs = require('fs');
      let flours = []

      if (this.checkFileExistsSync(flours_path)) { 
        let rawdata = fs.readFileSync(flours_path);
        flours = JSON.parse(rawdata) || []; 
      }
      else{
        // fs.open(flours_path, function (err) {
        // if (err) throw err;
        // console.log('Saved!');
        // });
      }  


      return{
        textInput:"",
        flours // [{name: string}, {name: string} ]
      }
    },
    methods:{
      addFlour: function(){
        this.flours.push({name: this.textInput})
        this.textInput = ""
      },
      removeFlour: function(ind){
        this.flours.splice(ind,1);
      },
      goBack: function() {
        this.saveFlours()
        this.$emit("go-back");
      },
      saveFlours: function(){
        const fs = require('fs')
        const homedir = require("os").homedir();
        window.console.log(homedir);
        const json_obj = JSON.stringify(this.flours);
        const flours_path = homedir + "/desktop/all_recipes/flours.json"; 
        fs.writeFile(flours_path,json_obj,(err)=>{
            if(err) throw err;
        })
      },
      checkFileExistsSync: function(filepath){
        const fs = require('fs')
        let flag = true;
        try{
          fs.accessSync(filepath, fs.constants.F_OK);
        }catch(e){
          flag = false;
        }
        return flag;
        }
    },

}
</script>

<style scoped>
.flour{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
}
.flour:hover{
  background-color: lavender;
}
#go-back {
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
.remove-flour{
  margin-left: 20px;
  cursor: pointer;
}
.name{
  width: 400px
}
#flours{
  margin-top: 40px;
}
</style>