<template>
  <div id="main">
    <div v-if="edit" id="go-back" @click="goBack">&larr;</div>
    <div v-if="edit" id="flour" @click="showBakerPercentage">Baker's %</div>
    <div v-if="edit" id="copy" @click="copyRecipe">Copy</div>
    <div v-if="edit" id="edit" @click="editRecipe">Edit</div>
    <div v-if="edit" id="language" @click="toggleLanguage">{{ this.language.substring(0,2).toUpperCase() }}</div>
    <span id="name" @click="toggleViewMode">{{ name }}</span>
    <span id="extra-info">{{ extra_info }}</span> <span id="afp">AFP</span>
    <div id="ingredients">
      <div class="ingredient-container seperate nohover">
        <div class="ingredient">
          <div class="ingredient-text" :class="{ 'down': variable_quantities.length!=0, 'up':variable_quantities.length==0 }" >Ingredient</div>
        </div>
        <div class="quantity" :class="{ 'down': variable_quantities.length!=0 && language != 'french' , 'up':variable_quantities.length==0,}" >{{ language=="english"? "Single Quantity" : "Une Quantité" }}</div>
        <div v-if="show_flour_percentage" class="quantity" :class="{ 'down': variable_quantities.length!=0 && language != 'french' , 'up':variable_quantities.length==0,}" >{{ language=="english"? "Flour Percentage" : "Pourcentage du farine" }}</div>
        <div v-for="(quant,index) in variable_quantities" :key="quant.key" >
          <div class="quantity">
          {{ language=="english"? "Variable Quantity" : "Quantité" }}
          <input
            type="number"
            name=""
            id="numberr"
            style="width:60px;font-size:16px;"
            placeholder=""
            v-model="variable_quantities[index]"
            :class="{ 'hide-box': !edit }"
          />
        </div>
        </div>

        <button v-if="edit" class="del-variable-quantity" @click="delCol">
          -
        </button>
        <button v-if="edit" class="add-variable-quantity" @click="addCol">
          +
        </button>
      </div>

      

      <div v-for="(ingredient, index) in ingredients" :key="ingredient.id">
        <div
          class="ingredient-container hover-effect"
          :class="{ alternate: !edit && index % 2 == 0 }"
        >
          <div class="ingredient">
            <div class="ingredient-text">{{ ingredient[0] + (show_flour_percentage && flour_indeces.indexOf(index)>-1 ? " 🥖 ": "") }}</div>
          </div>
          <div class="quantity">{{ ingredient[1] }}</div>
          <div v-if="show_flour_percentage" class="quantity">{{ flour_percentage[index] }}</div>
          <div v-for="(quant) in variable_quantities" :key="quant.id">

          <div class="quantity">{{ ingQuant(quant, ingredient[1]) }}</div>

          </div>
        </div>
      </div>


      <div class="ingredient-container hover-effect" v-if="show_flour_percentage">
        <div class="ingredient">
          <div class="ingredient-text" style="font-weight: 500;"> {{ this.language=="english" ? "Water Weight" : "Poids D'eau" }} </div>
        </div>
        <div class="quantity">{{ water_weight }}g</div>
        <div class="quantity"> {{ water_baker_percentage }} </div>
        <div v-for="(quant) in variable_quantities" :key="quant.id">
          <div class="quantity"></div>
        </div>
      </div>


      <div class="ingredient-container seperate hover-effect">
        <div class="ingredient">
          <div class="ingredient-text">{{ this.language=="english" ? "Total Weight" : "Poids Total" }}</div>
        </div>
        <div class="quantity">{{ total_weight }}</div>
        <!-- <div class="quantity">{{ ingQuant(quantity, total_weight) }}</div> -->

        <div v-for="(weight,index) in variable_weights" :key="weight.id">

        <input
          :class="{ 'hide-box': !edit }"
          class="quantity"
          id="total_var_weight"
          type="text"
          v-model="variable_weights[index]"
          style="text-align:center; font-size:16px;"
        />

        </div>

      </div>
      <div class="ingredient-container hover-effect" style="font-weight:500;">
        <div class="ingredient">
          <div class="ingredient-text" style="padding-right:5px;">
            {{ this.language=="english" ? "Total Weight" : "Poids Total" }} -
          </div>
          <span
            ><input
              :class="{ 'hide-box': !edit }"
              type="number"
              style="width:40px; font-size:16px;"
              v-model="percent"
            />%</span
          >
        </div>
        <div class="quantity">{{ ingQuant(1, sub_total_weight) }}</div>
        <!-- <div class="quantity">{{ ingQuant(quantity, sub_total_weight) }}</div> -->

        <div v-for="(weight) in variable_weights" :key="weight.id">
          <div class="quantity">{{ ingQuant(percentage, weight) }}</div>
        </div>

      </div>

      

    </div>
    <div id="instructions-container">
      <div id="instructions">
        {{ instructions }}
      </div>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
export default {
  name: "Recipe",
  props: {
    path: String,
  },
  data: function() {
    const remote = require('electron').remote
    const Menu = remote.Menu
    const MenuItem = remote.MenuItem
    let eventTracker = null;
    const that = this;
    const menu = new Menu()

    const menuItem = new MenuItem({
      label: `Add to flour`,
      click: () => {
        that.addFlour(that.eventTracker);
      }
    })
    menu.append(menuItem)
    window.addEventListener('contextmenu', this.handleContextMenu, false)



    return {
      obj: null, // is object containing dessert info
      name: "",
      ingredients: "",
      instructions: "",
      extra_info: "",
      total_weight: "",
      sub_total_weight: "",
      quantity: 0,
      total_variable_weight: "0g",
      switch: true,
      percent: 10,
      percentage: 90,
      first: true,
      edit: true, // view/print mode,
      variable_quantities: [0],
      variable_weights: ["0g"],
      language: "english",
      flour_percentage:[],
      show_flour_percentage:false,
      flour_indeces: [],
      flour_names:[], //match/parallel with flour indeces
      total_flour: 0,
      water_weight: 0,
      water_baker_percentage: 0,
      menu: menu, //context-menu
      eventTracker: eventTracker,
    };
  },
  methods: {
    updateQuantity: function(event) {
      window.console.log(event.target.value);
      this.quantity = event.target.value || 0;
    },
    getFlourName: function(eventTracker){
       let flourName = "something"
        if(eventTracker.className == "ingredient-container hover-effect"){
        try{
          eventTracker=eventTracker.children[0].children[0]
        }
        catch(e){
          if(e)throw e;
        }
      }
      if(eventTracker.className == "ingredient-text"){
        flourName = eventTracker.innerText.replace("🥖","")
        let matches = flourName.match(/[0-9]+%/);
        if(matches){
          let lastMatch = matches[matches.length-1];
          flourName = flourName.replace(lastMatch,"");
        }
      }
      return flourName
    },
    // calculate the new mulitplied quantity
    ingQuant: function(multiplier, quant) {
      quant = quant || "";
      quant = quant.toString();
      multiplier = multiplier || 0;
      if (isNaN(multiplier)) multiplier = 0;
      multiplier = Number(multiplier);
      quant = quant.replace(" + ?", "");
      var final_string, final_quantity;
      var index = quant.indexOf("ind") == -1 ? -2 : -4;
      var num = multiplier * Number(quant.slice(0, index + 1));
      final_quantity = this.rounder(num);
      var temp_str = quant.slice(index + 1, quant.length);
      final_string = final_quantity + temp_str;
      return final_string;
    },
    rounder: function(number) {
      number = Number(number.toString());
      // if number has no decimals return number
      if (number % 1 == 0) return number;

      // separate number into decimal and non deciaml
      let nondecimals = number.toString().split(".")[0];
      if (nondecimals.length > 2) return Math.round(Number(nondecimals));
      // if(nondecimals.length==2) return number.toFixed(1);
      if (nondecimals.length < 3)
        return number.toFixed(2 - Math.floor(Math.log10(number)));
      // use at most three digits otherwise and get rid of
    },
    goBack: function() {
      window.removeEventListener("contextmenu",this.handleContextMenu)
      this.$emit("go-back");
    },
    editRecipe: function() {
      this.$emit("edit-recipe", this.obj);
    },
    copyRecipe: function() {
      this.$emit("edit-recipe", {...this.obj, copy:true});
    },
    toggleViewMode: function() {
      // switch view between frill and print
      this.edit = !this.edit;
    },
    addCol: function() {
      this.variable_quantities.push(0);
      this.variable_weights.push("0g");
    },
    delCol: function() {
      this.variable_quantities = this.variable_quantities.slice(0,this.variable_quantities.length-1);
      this.variable_weights = this.variable_weights.slice(0,this.variable_weights.length-1);
    },
    toggleLanguage: function() {
      //check if french or english
      if(this.language == "english"){
        this.ingredients = this.obj.ingredients.map((val) => [val[2],val[1]])
        this.instructions = this.obj.french?.instructions ?? ""
        this.name = this.obj.french?.name ?? this.name
        this.language = "french"
      }
      else if(this.language == "french"){
        this.instructions = this.obj.instructions
        this.ingredients = this.obj.ingredients
        this.name = this.obj.name
        this.language = 'english'
      }

    },
    getFlours: function(){
      const homedir = require("os").homedir();
      window.console.log(homedir);
      const flours_path = homedir + "/desktop/all_recipes/flours.json"; 
      const fs = require('fs');
      let flours = []
      if (this.checkFileExistsSync(flours_path)) { 
        let rawdata = fs.readFileSync(flours_path);
        flours = JSON.parse(rawdata) || []; 
      }
      return flours
    },
    checkFileExistsSync: function(filepath){
        const fs = require('fs')
        let flag = true;
        try{
          fs.accessSync(filepath, fs.constants.F_OK);
        }catch(e){
          flag = false;
        }
        return flag;
    },
    showBakerPercentage: function(){
      if(this.show_flour_percentage) {
        this.show_flour_percentage = false
        return;
      }
      this.show_flour_percentage = true
      this.flours = this.getFlours();
      //calc g of flour (flour mass)
      let total_flour = 0
      this.flour_indeces = []
      this.flour_names = []
      let index=-1
      for(let ingredient of this.ingredients){
        index++
        this.flours.find((flour)=>{
          let str = ingredient[0].toLowerCase().replace(flour.name.toLowerCase(),"").replace('%',"")
          let perc = Number(str);
          if(isNaN(perc) == false){
            this.flour_indeces.push(index)
            this.flour_names.push(flour.name.toLowerCase())
            let flour_quant = Number(ingredient[1].replace("g","")) * 100 / (perc + 100)
            total_flour+=flour_quant
            return true
          }
        })
      }
      this.flour_percentage = []
      window.console.log(`total_flour: ${total_flour}`);
      this.total_flour = total_flour
      if(total_flour==0){
        this.flour_percentage = Array(this.ingredients.length).fill("no flour")
        this.calculateWaterWeight()
        return;
      }
      for(let ingredient of this.ingredients){
        let percentage = 100 * Number(ingredient[1].replace("g",""))/total_flour
        percentage = percentage.toPrecision(3)
        this.flour_percentage.push(Number(percentage))
        }
      this.calculateWaterWeight(Number(total_flour))
    },
    addFlour: function(e){
      if(e.className == "ingredient-container hover-effect"){
        try{
          e=e.children[0].children[0]
        }
        catch(e){
          if(e)throw e;
        }
      }
      if(e.className == "ingredient-text"){
        let flourName = e.innerText.replace("🥖","")
        let matches = flourName.match(/[0-9]+%/);
        if(matches){
          let lastMatch = matches[matches.length-1];
          flourName = flourName.replace(lastMatch,"");
        }
        flourName = flourName.toString()
        //remove blank spaces near end
        for (let index = flourName.length-1; index >= 0; index--) {
          const element = flourName[index];
          if(element.charCodeAt(0) == 32) flourName = flourName.slice(0,-1)
          else{
            break;
          }
        }
        const flours = this.getFlours();
        let a = flours.find(o=>o.name.toLowerCase()==flourName.toLowerCase())
        if(a) window.console.log('flour already found!' + a);
        if(a) return;
        flours.push({name:flourName})
        const fs = require('fs')
        const homedir = require("os").homedir();
        window.console.log(homedir);
        const json_obj = JSON.stringify(flours);
        const flours_path = homedir + "/desktop/all_recipes/flours.json"; 
        const that= this;
        fs.writeFile(flours_path,json_obj,(err)=>{
            if(err) throw err;
            window.console.log('doing flour thing');
            that.show_flour_percentage = !that.show_flour_percentage
            that.showBakerPercentage()
        })

      }

    },
    calculateWaterWeight: function(total_flour){
      //calculate total water weight
      window.console.log('calc water weight');
      total_flour = total_flour || 0
      let water_weight = 0
      let index = -1
        for(let ingredient of this.ingredients){
          index++
          if(ingredient[0].toLowerCase().includes("water")) water_weight+=Number(ingredient[1].replace("g",""))
          else if(ingredient[0].toLowerCase().includes("eau")){
            let str = ingredient[0]
            let regex = /eau/gi, result, indices = [];
            while ( (result = regex.exec(str)) ) {
                indices.push(result.index);
            }
            // if there is an eau s.t. previous character is non existant or non alphabetical
            for(let index of indices){
              if(index == 0 || !str[index-1].match(/[a-z]/i)){
                water_weight+=Number(ingredient[1].replace("g",""))
                break
              }
            }
          }
          else if(this.flour_indeces.indexOf(index) != -1){
            let aIndex = this.flour_indeces.indexOf(index);
            window.console.log(aIndex, this.flour_names)
            window.console.log(ingredient[0]);
            let str = ingredient[0].toLowerCase().replace(this.flour_names[aIndex].toLowerCase(),"").replace('%',"")
            let perc = Number(str);
            water_weight += Number(ingredient[1].replace("g","")) * (perc/(100+perc))
          }
        }
      window.console.log(`flour and water: ${total_flour}   ${water_weight} `);

        this.water_weight = water_weight
        if(total_flour==0){
          this.water_weight = this.water_weight.toPrecision(3)
          this.water_baker_percentage = 'no flour'
          return;
        }
        this.water_baker_percentage = Number((100 * water_weight/total_flour).toPrecision(3))
        this.water_weight = this.water_weight.toPrecision(3)
    },
    handleContextMenu: function(e){
    const remote = require('electron').remote
      e.preventDefault()
      this.eventTracker = e.target
      this.menu.popup(remote.getCurrentWindow())
    }

  },
  beforeMount() {
    // read file
    const fs = require("fs");
    fs.readFile(this.path, (err, data) => {
      if (err) throw err;
      data = data.toString();
      window.console.log(data);
      const obj = JSON.parse(data);
      window.console.log(obj);
      this.obj = obj;
      this.name = obj.name;
      this.instructions = obj.instructions;
      this.ingredients = obj.ingredients;
      this.extra_info = obj.extra_info;

      //total weight
      var total_weight = 0;
      var str = "";
      for (const ing of obj.ingredients) {
        if (ing[1].indexOf("ind") != -1) {
          if (str === "") str = " + ";
          str += "?";
          continue;
        }
        let weight = ing[1].replace("g", "");
        weight = Number(weight);
        total_weight += weight;
      }
      this.total_weight = "" + total_weight + "g" + str;
      var num = total_weight * 0.9;
      this.sub_total_weight = "" + num.toFixed(2) + "g" + str;
      // this.total_variable_weight = this.ingQuant(this.quantity,total_weight);
      this.total_variable_weight = "0g";

    });

  },
  beforeUpdate() {
    (() => (document.getElementById("main").style.opacity = 1))();
    // setTimeout(()=>document.getElementById("main").style.opacity = 1,50)

  },
  watch: {
    quantity: function() {
      if (!this.switch) {
        this.switch = true;
        return;
      }
      this.switch = false;
      this.total_variable_weight = this.ingQuant(
        this.quantity,
        this.total_weight
      );
      window.console.log("watch quantity has been called" + this.quantity);
      window.console.log(this.quantity == "");
    },
    variable_quantities: {
      deep: true,
      handler: function(new_val) {

        if (!this.switch) {
        this.switch = true;
        return;
      }
      this.switch = false;
      this.variable_weights = this.variable_quantities.map( val => this.ingQuant(
        val,
        this.total_weight
      ));

        window.console.log("watch_var_quants", this.total_weight);
        window.console.log(new_val);
      },
    },
    variable_weights: {
      deep: true,
      handler: function(new_val) {

        if (!this.switch) {
        this.switch = true;
        return;
      }

      this.switch = false;
      for (let i = 0; i < new_val.length; i++) {
        
      let total_weight = this.total_weight.replace(" + ?", "");
      window.console.log("here is the total weight: " + total_weight);
      window.console.log("total var weight: " + this.total_variable_weight);
      window.console.log(
        "total var weight: " + document.getElementById("total_var_weight").value
      );

      var index = total_weight.indexOf("ind") == -1 ? -2 : -4;

      window.console.log(
        "yes ysesdfahsfkjjsdfhakj fajsdfhlakjshflka jsdflkajsdfkajsdfkjasdfkjadlsfkjh"
      );
      this.variable_quantities[i] = this.rounder(
        Number(new_val[i].replace("g", "").replace("ind", "")) /
          Number(total_weight.slice(0, index + 1))
      );
      window.console.log(total_weight.slice(0, index + 1));
      window.console.log(Number(total_weight.slice(0, index + 1)) + "   aa");
      window.console.log(
        "watch total_variable_weight has been called" + this.quantity
      );
      }

        this.variable_quantities = [...this.variable_quantities]
        window.console.log("watch_var_weights");
      },
    },
    total_variable_weight: function() {
      if (!this.switch) {
        this.switch = true;
        return;
      }

      this.switch = false;
      let total_weight = this.total_weight.replace(" + ?", "");
      window.console.log("here is the total weight: " + total_weight);
      window.console.log("total var weight: " + this.total_variable_weight);
      window.console.log(
        "total var weight: " + document.getElementById("total_var_weight").value
      );

      var index = total_weight.indexOf("ind") == -1 ? -2 : -4;

      window.console.log(
        "yes ysesdfahsfkjjsdfhakj fajsdfhlakjshflka jsdflkajsdfkajsdfkjasdfkjadlsfkjh"
      );
      this.quantity = this.rounder(
        Number(this.total_variable_weight.replace("g", "").replace("ind", "")) /
          Number(total_weight.slice(0, index + 1))
      );
      window.console.log(total_weight.slice(0, index + 1));
      window.console.log(Number(total_weight.slice(0, index + 1)) + "   aa");
      window.console.log(
        "watch total_variable_weight has been called" + this.quantity
      );
    },
    percent: function() {
      let percentage = this.rounder(1 - this.percent / 100);
      this.percentage = percentage;
      this.sub_total_weight = this.ingQuant(percentage, this.total_weight);
    },
  },
};
</script>
<style scoped>
#main {
  transition: opacity 0.05s;
  opacity: 0;
}
.ingredient {
  width: 400px;
  text-align: center;
}
.ingredient-container {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}
.ingredient-text {
  text-align: center;
  display: inline-block;
  padding-right: 20%;
}

#ingredients {
  margin-top: 70px;
  margin-right: 15%;
  margin-left: 15%;
}

.hover-effect:hover {
  color: red;
}
.quantity {
  margin-left: 40px;
  width: 120px;
}
#instructions-container {
  margin-top: 70px;
  white-space: pre-wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#instructions {
  text-align: left;
  display: inline-block;
}

#name {
  font-size: 24px;
}

#name:hover {
  cursor: pointer;
}
#name:active {
  font-weight: bold;
}

#extra-info {
  text-align: right;
  position: absolute;
  right: 30px;
}
#afp {
  position: absolute;
  left: 30px;
  font-family: cursive;
}
.seperate {
  margin-top: 30px;
  font-weight: 500;
}
#go-back {
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
#edit {
  position: absolute;
  top: 15px;
  right: 57px;
  cursor: pointer;
}
#copy {
  position: absolute;
  top: 15px;
  right: 95px;
  cursor: pointer;
}
#flour {
  position: absolute;
  top: 15px;
  right: 145px;
  cursor: pointer;
}
#language {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}
.alternate {
  background-color: rgb(244, 244, 244);
  -webkit-print-color-adjust: exact;
}
.down {
  position: relative;
  bottom: -20px;
}
.up{
  position: relative;
  bottom: 20px;
}
.hide-box {
  border: none;
}
.add-variable-quantity {
  font-size: 20px;
  border-radius: 15px;
  background-color: rgb(228, 222, 222);
  cursor: pointer;
  height:30px;
  position: absolute;
  right:80px;
  width: 30px;
}
.del-variable-quantity {
  font-size: 20px;
  border-radius: 15px;
  background-color: rgb(228, 222, 222);
  cursor: pointer;
  height:30px;
  position: absolute;
  right:110px;
  width: 30px;
  margin-right:5px;
}
</style>
